



/* Стили для класса .logo */
.logo {
  font-family: 'Roboto', sans-serif;
  /* Подключенный шрифт */
  font-weight: 900;
  /* Самый жирный стиль текста */
  font-size: 36px;
  /* Размер текста */
  color: #333;
  /* Цвет текста */
}

/* Стили для класса .text */
.text {
  font-family: 'break_loveregular', sans-serif;
    /*ont-family: 'alex-brush', sans-serif;
  /* font-family: 'Roboto', sans-serif;
  /* Подключенный шрифт */
  /* font-weight: 100;
  /* Самый тонкий стиль текста */
  /* font-size: 16px;
  /* Размер текста */
 
  /* Межстрочный интервал */
  /* color: #666;
  Цвет текста */ 
}
@font-face {
  font-family: 'break_loveregular';
  src: url('../fonts/break_love_font-webfont.woff2') format('woff2')
}